* {
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 60%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: lightblue;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}



header {
    background-image:url(logof.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:#3f33FF;
    padding-left: 50px;
    margin-top: 100px;
}


body {
background-image:url(images/robot.png);
background-size:     cover;   
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    background-color:#3f33FF;

}




header img {
    float: left;
    padding: 20px;
    width: 60px;
}


h1 {
    color:#CC0099;
    text-align: center;
}


h2 {
    color:#CCFF33;
    text-align: center;
}

main {
    max-width: 650px;
    margin: auto;
}


p {
    margin-bottom: 45px;
    line-height: 26px;
}


img {
    max-width: 220px;
}


.center {
  margin-left: auto;
  margin-right: auto;
}

footer {
    background-color: #111;
    color: #EEE;
    text-align: center;
    padding: 80px;
}



