body{
	font-family:cursive;
	font-size: 30px;
}
img {
	
	max-width: 200px;
	height: auto;
	border: 10px blue groove;
}
footer{
	background-color:rgb(17, 17, 17);
	color: rgb(243, 184, 129);
	text-align: center;
	padding: 50px;

	
}
body {
	background-color: rgb(243, 204, 157);
}
h1 {
	max-width : 100%;
	height: auto;
	display: block;
}