

header {
    background-image: url(mima.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


header img {
    float: left;
    padding: 20px ;
    width: 300px; 
}

p {
    margin-bottom: 45px;
    line-height: 30px;
}

h1 {
    color:rgb(104, 12, 12);
    padding: 50PX 25px;
    text-align: center; 
    margin: 10px ; 
    font-style: italic;
    font-size:  50PX; ;

}
h2{
    color: blue; 
    font-size: 30PX;
  
}
h5{
color: crimson;
font-size: 30px;
margin: 5px;
}
h3{
    color: darkgoldenrod;
    font-size: 30PX;
}
H4{

    color: indigo;
    font-size: 20px;
    

}

h6{

    color: olive; 
    font-size: 20PX;
    margin: 7px;
}
   



main {
    max-width: 650px;
    margin: auto;
}


footer {
    
    background-color:rgb(174, 179, 116);
    color:blanchedalmond;
    text-align: center;
    padding: 80px;
}
