header{
	text-align: center;
	background-color: #f33672;
	background-position: center;
	background-size: cover;
	width: 1550px;
	height: 175px;
}

div{
	text-align: center;
}
h1{
	text-align: center;
	color:  #1c2833;
	font-size: 25px;
}

h3{
	text-align: center;
	color:  #1c2833;
	font-size: 15px;
}
p{
	text-align: center;
	color:  #1c2833;
	font-size: 20px;
}
.bas-de-page{
	text-align: center;
	font-weight:bold;
	color: white;
	font-size: 10px;
	background-color: #f33672;
}

body{
	background-image: url(sticker.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 75%;
	background-position: center;
	}

p{
	ext-align: center;
	color:  #1c2833;
	font-size: 17px;
}

