@font-face

{font-family: 'Reey-Regular';
src: url('font/Reey-Regular.otf');
}


@font-face
{
	font-family: 'Compagnon-Roman';
	src: url('font/Compagnon-Roman.otf');
}



body
{
	background-color: #dfe7f0;

	margin: 20px;
	margin-left: 50px;
	margin-right: 50px;
	font-family: 'Compagnon-Roman', Arial, serif;
}
header
{ 
	display: flex;
	justify-content: space-around;
}

h1
{
	font-family: 'Reey-Regular', Arial,serif ;
	color: #17178f;
	font-size: 45px;
}

.separateur
{
	background-image: url("image/sunrise.jpg");
	background-size: cover;
	width: 100%;
	height: 20px;
}
.icon img
{
	width: 30px;
	height: 30px;
}
table img
{
	width: 50px;
	height: 50px;
}
footer img
{
	width: 20px;
	height: 20px;
}
a
{
	text-decoration: none;
	color: black;
	padding-bottom: 3px

}
a:hover
{
	font-weight:bold;
	color: #489c85;
	border-bottom: 2px solid black;
}
li
{
	list-style: none;
}
.centre
{
	padding: 20px;
	background-color: white;
	margin: auto;
	width: 560px;
text-align: justify;
}

footer
{
	text-align: center;
}

table {
border: medium solid grey;
border-collapse: collapse;
width: 100%;
}
th {

border: thin solid grey;
width: 50%;
padding: 5px;


}
td {

border: thin solid grey;
width: 50%;
padding: 5px;
text-align: center;

}
