main{
	text-align: center;
	background-color: #a8e3b5	
}

header{
	background-color: #dafcd9;
    background-size: cover;
    margin: -10px;
    padding: 200px;   
}

		
h1 {
	font-family: 'Great Vibes', cursive;
	text-align: center;
	font-size: 45px;

}

h2{
	font-family: 'Great Vibes', cursive;
	word-spacing: 100px;
	text-align: center;
	position: absolute; top: 450px; left: 450px;

}
img{ 
	max-width: 500px;
}

iframe{

}

h3{
	font-family: 'Great Vibes', cursive;
	font-size: 35px;
}

p{
	font-family: 'Sacramento', cursive;
	font-size: 25px;
}

ul{
	font-family: 'Sacramento', cursive;
	font-size: 25px;
}

footer{
	text-align: center;
	background-color: #dafcd9;
	background-size: cover;
	margin: -10px;
    padding: 5px;   
}